{% extends 'base.html' %}

{% block content %}
  <h1>Your Favorites</h1>

    <ul class="favorite-list" style="list-style: none;">
      {% for item in favourite.clothing_items.all %}
        <li>
          <div class="item-thumbnail">
            <img src="{{ item.item_image.url }}", style="width: 200px">
          </div>
          <div class="item-details">
            <h3>{{ item.name }}</h3>
            <p>{{ item.clothes.description }}</p>
            <p>Price: {{ item.price }}/day</p>
            <form method="POST" action="{% url 'add_to_cart' item.id %}">{% csrf_token %}
              <input type="submit" class="btn btn-primary" value="Rent Now">
            </form>
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'remove_favourite' item.id %}">{% csrf_token %}
              <input type="submit" class="btn btn-primary" value="Remove favourite">
            </form>
            {% endif %}
          </div>
        </li>
    {% empty %}
        <p>You have no favorite items yet.</p>
      {% endfor %}
    </ul>

{% endblock %}
